
/*.articles{
    margin: 10px;
    padding: 10px;
    height: 300px;
    width: 22%;
    border-radius: 10px;
    box-shadow: 0 3px 3px black;
    background-color: rgb(207, 175, 137);
}*/

.articles img{
    height: 60%;
    width: 100%;

}

.articles{
    background-color: #fff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}
